
<% if !@code.blank? %>
	<h3>Thank you for tagging</h3>
	<h4>Your Code:</h4>
	<p>Don't lose this we won't be able to generate it again</p>
	<div class="well"><h1><%= @code %></h1></div>
<% else %>
	<h3>Welcome: <%= session[:current_user_name] %></h3>

	<h4>Instructions</h4>
	<ol style='font-size: 17px'>
		<li>You will be presented with 25 deals</li>
		<li>For each deal, click the relevent tags that correspond to the type of experience / restaurant</li>
		<li>When you have finished tagging, you will be presented with a code for mechanical turk</li>
	</ol>

	<br><br><br>

	<div id='linkbox' style='padding: 10px; background-color: #f3f3f3; width: 400px; height: 120px'>
	<%= link_to "Start Tagging", new_deal_tag_path, :class => "btn btn-primary", :style => 'width: 100%; padding: 25px; font-size: 36px', :onclick => "clickLink()" %>
	</div>

<% end %>

<script>

// 

function clickLink(){
	$("#linkbox").css("display","none");
	$("#linkbox").html("<p style='margin-top: 25px; font-size: 36px; font-weight: bold; text-align: center'>Initiating Tagging..</p>");
	$("#linkbox").fadeIn(200);
}

</script>