<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Tinder", new_tinder_path %></li>
        <li><%= link_to "Tag Deals", new_deal_tag_path %></li>
        <li><%= link_to "Manage Tags", tags_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to session[:current_user_name], home_path %></li>
      </ul>
    </div>
  </div>
</nav>
